@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&family=Staatliches&display=swap");
:root {
  --color-primario: #111317;
  --color-primario-light: #1f2125;
  --color-primario-extra-light: #35373b;
  --color-secundario: #119822;
  --color-secundario-oscuro: #04471c;
  --color-texto-claro: #d1d5db;
  --blanco: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primario);
}

/*Header*/
.header__title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--blanco);
}

.title__color {
  color: var(--color-secundario);
}

.btn {
  background-color: var(--color-secundario);
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--color-secundario-oscuro);
  cursor: pointer;
}

.navbar__option {
  list-style-type: none;
  padding: 0.7rem;
}

.navbar__link {
  text-decoration: none;
  margin: 1rem;
  color: var(--blanco);
  font-size: 1.2rem;
}

.navbar__option .navbar__link {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--blanco);
  text-decoration: none;
}

.navbar__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-secundario);
  transition: 0.3s;
}
.navbar__link:hover::after {
  width: 50%;
}

/*Banner*/
.section__banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.banner__container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.banner__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--blanco);
  margin-bottom: 1rem;
  text-shadow: 0 0 0.25 var(--color-primario-light);
}

.banner__description {
  color: var(--blanco);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*Galeria*/
.section__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.gallery__header {
  color: var(--color-secundario);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.main__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  gap: 2rem;
}

.gallery__item {
  position: relative;
  flex-basis: 33%;
  padding: 0.7rem;
  border: 2px solid var(--color-primario-extra-light);
}

.gallery__container-image {
  overflow: hidden;
}

.gallery__image {
  width: 100%;
  transition: all 300ms ease-in-out;
}

.gallery__item:hover .gallery__image {
  transform: scale(1.1);
}

.gallery__title {
  font-size: 1rem;
  padding: 1.5rem 0;
  color: var(--color-texto-claro);
}

/*Entrenadores*/
.section__entrenadores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.entrenadores__title {
  color: var(--color-secundario);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem;
}

.entrenadores__description {
  color: var(--color-texto-claro);
  font-size: 1.2rem;
  text-align: center;
}

.entrenadores__container {
  display: flex;
  margin: 10vh;
}

.tarjeta {
  background-color: var(--color-primario-light);
  border: 1px solid var(--color-primario-extra-light);
  padding: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
.tarjeta img {
  max-width: 100%;
}

.entrenadores__name {
  font-size: 1.2rem;
  color: var(--blanco);
  margin-top: 1rem;
  text-align: center;
}

/*Footer*/
.footer__footer {
  background-color: var(--color-primario-light);
  color: var(--blanco);
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.infoContacto p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 1.2rem;
  color: var(--color-secundario);
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5rem;
}
.redesSociales a:hover {
  color: var(--color-secundario-oscuro);
}

.footer i {
  margin-right: 10px;
}

/*Programas*/
.program__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  font-size: 2.4rem;
  padding: 2rem;
  margin-top: 4rem;
}

.program__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.program__card {
  padding: 1rem;
  background-color: var(--color-primario-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}
.program__card:hover {
  background-color: var(--color-primario-extra-light);
  border-color: var(--color-secundario);
}
.program__card span {
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--blanco);
  background-color: var(--color-secundario-oscuro);
  border-radius: 7px;
}
.program__card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blanco);
}
.program__card p {
  margin-bottom: 1rem;
  color: var(--color-texto-claro);
}
.program__card a {
  color: var(--blanco);
  transition: 0.3s;
}
.program__card a:hover {
  color: var(--color-secundario);
}

.clases__container {
  padding: 2rem;
  margin-top: 4rem;
}

.clases__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.clases__title {
  margin-bottom: 0.75rem;
  padding: 1rem;
  color: var(--blanco);
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}

.clases__content p {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-texto-claro);
  font-size: 1.4rem;
}

.clases__img {
  max-width: 100%;
}

/*Servicios*/
.price__header {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  font-size: 2.4rem;
  color: var(--blanco);
  font-weight: 700;
}

.price__subheader {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--blanco);
  font-weight: 500;
}

.price__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 2rem;
  padding: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}
.price__card:hover {
  background-color: var(--color-primario-extra-light);
  border-color: var(--color-secundario);
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h3 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--blanco);
}
.price__card h4 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--blanco);
  border-bottom: 2px solid var(--blanco);
}
.price__card p {
  margin-bottom: 0.75rem;
  color: var(--blanco);
}
.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-secundario);
}

.price__btn {
  color: var(--blanco);
  background-color: var(--color-secundario);
  border: 2px solid var(--color-secundario);
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.price__btn:hover {
  background-color: transparent;
  color: var(--color-texto-claro);
}

/*Nosotros*/
.about__container {
  display: flex;
}

.about__content {
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 3rem;
}

.about__header {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--blanco);
  padding: 1rem;
}

.about__description {
  text-align: center;
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--color-texto-claro);
  padding: 2rem;
}

.image__content {
  display: flex;
  justify-content: center;
}

.about__img {
  max-width: 100%;
  margin: 0, auto;
}

.about__ubicacion {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  margin: 3rem 0;
}

.ubicacion__title {
  color: var(--blanco);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

/*Contacto*/
.form__container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 4rem 0;
}

.form__content {
  padding: 5rem 5.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  text-align: center;
  width: 650px;
  background-color: var(--color-primario-extra-light);
}

.input__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form__header {
  color: var(--color-secundario);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.group__label {
  color: var(--blanco);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.group__field {
  padding: 1.7rem 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-texto-claro);
  border: 2px solid var(--color-secundario);
  outline: none;
}
.group__field::placeholder {
  color: var(--color-primario);
}

.form__btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--blanco);
  background-color: var(--color-secundario);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.form__btn:hover {
  background-color: var(--color-secundario-oscuro);
}

/*Responsive*/
@media (max-width: 1023px) {
  /*Header*/
  .btn {
    display: none;
  }
  /*Banner*/
  .banner__title {
    font-size: 3.2rem;
    text-align: center;
  }
  .banner__description {
    font-size: 1rem;
  }
  /*Gallery*/
  .main__gallery {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding: 1rem;
  }
  /*Entrenadores*/
  .entrenadores__container {
    flex-direction: column;
  }
  /*Footer*/
  .footer__container {
    flex-direction: column;
    text-align: center;
  }
  /*Programas*/
  .program__title {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .program__grid {
    grid-template-columns: 1fr 1fr;
  }
  .clases__title {
    font-size: 1.5rem;
  }
  .clases__content p {
    font-size: 1rem;
  }
  /*Servicios*/
  .precio__header {
    font-size: 1.5rem;
  }
  .price__grid {
    grid-template-columns: 1fr 1fr;
  }
}
/*Nosotros*/
.ubicacion__content {
  width: auto;
}

/*Vista Mobile*/
@media (max-width: 768px) {
  /*Header*/
  .navbar__link {
    font-size: 1.1rem;
  }
  .section__banner {
    max-width: 100%;
  }
  .banner__description {
    font-size: 0.9;
    text-align: justify;
  }
  .gallery__header {
    font-size: 2rem;
    text-align: center;
  }
  .main__gallery {
    grid-template-columns: 1fr;
  }
  .entrenadores__title {
    font-size: 1.5rem;
  }
  .entrenadores__container {
    flex-direction: column;
  }
  /*Programas*/
  .program__header {
    text-align: center;
  }
  .clases__description {
    text-align: justify;
    font-size: 0.9rem;
  }
  .program__grid,
  .price__grid {
    grid-template-columns: 1fr;
  }
  /*Servicios*/
  .price__header {
    padding-top: 1.4rem;
    font-size: 1.6rem;
  }
  .price__subheader {
    font-size: 1.1rem;
  }
  /*Nosotros*/
  .about__header {
    font-size: 1.6rem;
  }
  .about__description {
    font-size: 1rem;
  }
  .about__image {
    display: grid;
  }
  .about__img {
    width: 85%;
  }
  .ubicacion__title {
    font-size: 1.6rem;
  }
  .ubicacion__map {
    width: 100%;
  }
  /*Contacto*/
  .form__content {
    width: 400px;
  }
  .form__header {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
