:root {
  --color-primario: #111317;
  --color-primario-light: #1f2125;
  --color-primario-extra-light: #35373b;
  --color-secundario: #119822;
  --color-secundario-oscuro: #04471c;
  --color-texto-claro: #d1d5db;
  --blanco: #ffffff;
  --max-width: 1200px;
}
